$font-stack: 'Quicksand', sans-serif;
$font-mono: 'monospace';

$background: #1c1e26;
$color: #f1f1f1;

$color-primary: #e95378;
$color-primary--active: #f43e5c;

$shadow: rgba(0, 0, 0, .2);

$btn-background: #2e303e;
$btn-background--active: rgba(0, 0, 0, .2);
$btn-background--hover: rgba($btn-background, .5);
$btn-background--disabled: rgba($btn-background, .2);


$btn-color: $color;
$btn-color--active: $color;
$btn-color--hover: $color;
$btn-color--disabled: rgba($color, .2);
