textarea,
input {
  background: $background;
  border: 1px solid $color-primary;
  border-radius: 5px;
  color: $color;
  display: block;
  font-family: $font-mono;
  font-size: 1em;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;

  &:focus {
    border-color: $color-primary--active;
    outline: 1px solid $color-primary--active;
  }
}

textarea {
  display: block;
  min-height: 150px;
  resize: vertical;
  width: 100%;
}

button {
  background-color: $btn-background;
  border: 1px solid $btn-background;
  border-radius: 4px;
  color: $btn-color;
  font-size: 1em;
  font-weight: 700;
  padding: 5px;
  transition: background-color .2s ease;

  &.full {
    display: block;
    width: 100%;
  }

  &:hover {
    background-color: $btn-background--hover;
    border-color: $btn-background--hover;
    color: $btn-color--hover;
    cursor: pointer;
  }

  &:active {
    background-color: $btn-background--active;
    border-color: $btn-background--active;
    color: $btn-color--active;
    cursor: pointer;
  }

  &:disabled {
    background-color: $btn-background--disabled;
    border-color: $btn-background--disabled;
    color: $btn-color--disabled;
    cursor: not-allowed;
  }
}
