body {
  align-items: center;
  background-color: $background;
  color: $color;
  display: flex;
  font-family: $font-stack;
  font-size: 16px;
  font-weight: 300;
  justify-content: center;
  padding: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

h1 {
  color: $color-primary;
  font-size: 3em;
}

h2 {
  font-size: 1.2em;
}

.wrap {
  margin: 0 auto;
  max-width: 700px;
}

.side-right {
  align-items: center;
  display: flex;
  justify-content: center;

  & > * {
    display: block;
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.display--block {
  display: block;
}
